.idea
commons/bkp_sim
commons/__pycache__
commons/temp
commons/*.pyc
result_dir
rtde-2.6.0

simulation/temp
simulation/__pycache__



real_data/0
real_data/1
real_data/2
real_data/3
real_data/4
real_data/5
real_data/6
real_data/7
real_data/20
real_data/21
real_data/annotation
real_data/benchmark_results
real_data/high_res_samples
real_data/kubric
real_data/level-3_objects
real_data/noise_samples
real_data/paper-images
real_data/__pycache__
real_data/results_ros_policy
real_data/sliced_files
real_data/temp
real_data/test_clutter
real_data/test_clutter_focused_pose
real_data/test_clutter_pf_specific
real_data/test_data_cas
real_data/test_data_level_1
real_data/test_data_level_1_annotated
real_data/test_data_level_2
real_data/test_data_mid_level
real_data/test_data_mid_level_annotated
real_data/test_data_mid_level_CAS
real_data/test_data_mid_level_S
real_data/test_data_mix
real_data/test_data_mix_annotated
real_data/test_data_random
real_data/test_data_simulation
real_data/test_sample_graspnet
real_data/test_temp
real_data/train
real_data/val
real_data/*.json
real_data/*.pyc

temp
urdfs


pointnet/bin_data
pointnet/demo
pointnet/demo_files
pointnet/doc
pointnet/grasp_data
pointnet/log
pointnet/log_focus
pointnet/log_grasp
pointnet/models
pointnet/__pycache__
pointnet/scannet
pointnet/semantic-segmentation-pytorch
pointnet/sunrgbd
pointnet/temp






FCN/3_max_pool
FCN/high_fcn_depth
FCN/high_fcn_rgb
FCN/high_fcn_rgbd
FCN/mid_fcn_depth
FCN/mid_fcn_rgb
FCN/mid_fcn_rgbd
FCN/__pycache__
FCN/weights


FCN_regress/

FCN_regress/fcn_depth_high_wmse
FCN_regress/__pycache__
FCN_regress/weights


*pyc
Paper-writing
